<% layout('layouts/boilerplate') -%>
  <h1>Campgrounds</h1> <br>
  <% campgrounds.forEach(element=> { %>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-4">
          <img src="<%= element.images[0].url %>" class="img-fluid rounded-start" alt="campground image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <%= element.title %>
            </h5>
            <p class="card-text">
              <%= element.description %>
            </p>
            <p class="card-text"><small class="text-muted">
                <%= element.location %>
              </small></p>
            <a href="/campgrounds/<%= element._id %>" class="btn btn-primary">view</a>
          </div>
        </div>
      </div>
    </div>
    <% }) %>