<% layout('layouts/boilerplate') -%>
  <div class="row mb-5">
    <div class="col-6">
      <div class="card">
        <img src="<%= campground.image %>" class="card-img-top" alt="campground image">
        <div class="card-body">
          <h5 class="card-title">
            <%= campground.title %>
          </h5>
          <p class="card-text">
            <%= campground.description %>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= campground.location %>
          </li>
          <li class="list-group-item">
            $<%= campground.price %>/night
          </li>
        </ul>
        <div class="card-body">
          <!-- checks logged in user is author of campground and shows edit and delete button -->
          <% if (loggedInUser && campground.author.equals(loggedInUser)) { %>
            <a class="card-link btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">edit</a> &nbsp;
            <form class="d-inline" action="/campgrounds/<%= campground._id %>/delete?_method=DELETE" method="post">
              <button class="btn btn-danger">delete</button>
            </form>
            <% } %>
              &nbsp;
              <a class="card-link btn btn-info" href="/campgrounds">home</a>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between">
          <div>2 days ago</div>
          <div><span>submitted by </span>
            <%= campground.author.username %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <!-- check to hide review box for not logged in users -->
      <% if (loggedInUser) { %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Leave a review</h5>
            <div class="card-text">
              <form action="/campgrounds/<%= campground._id %>/reviews" method="post" class="needs-validation"
                novalidate>
                <div>
                  <fieldset class="starability-basic">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked
                      aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="review">Review</label>
                  <textarea class="form-control" name="review[body]" id="review" rows="3" required></textarea>
                </div>
                <button class="btn btn-success" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <% } %>
          <div class="my-3">
            <h2>Reviews by others</h2>
            <% if (campground.reviews.length !==0) { %>
              <% campground.reviews.forEach((review)=> { %>
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="d-flex justify-content-between">
                        <div class="card-title fw-bold">
                          <%= review.author.username %>
                        </div>
                        <!-- checks if logged in user is author of review to show delete review button -->
                        <% if (review.author.equals(loggedInUser)) { %>
                          <div>
                            <a class="nav-link dropdown-toggle p-0 m-0" data-bs-toggle="dropdown" href="#" role="button"
                              aria-expanded="false"></a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">
                                  <form
                                    action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                                    method="post">
                                    <button class="btn btn-sm btn-sm-outline-dark p-0 border-0" type="submit">delete
                                      review</button>
                                  </form>
                                </a></li>
                            </ul>
                          </div>
                          <% } %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="card-text">
                        <p class="starability-result" data-rating="<%= review.rating %>">
                          Rated: <%= review.rating %> stars
                        </p>
                      </div>
                      <div class="card-text">
                        <%= review.body %>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
                  <% } %>
          </div>
    </div>
  </div>